.content-page {
  @apply pt-gutter-4 pb-gutter-2;

  margin-top: var(--h-logo);

  & .text-content {
    @apply text-bigger;
  }
}

.content-page__nav {
  @apply w-full flex flex-wrap gap-x-gutter gap-y-gutter-1/2 px-[--content-page-px-col] py-gutter;
  @apply text-center themed-border border-y backdrop-blurred;

  .dark & {
    @apply bg-black text-white items-center justify-center px-gutter;
  }
}

.content-page__nav-link {
  @apply block h5 font-semibold align-text-v text-link;
}

.content-page__slots {
  @apply my-gutter;
}

.content-page__column,
.content-page__column-left {
  @apply px-[--content-page-px-col];
}

.content-page__column-left {
  @apply pr-0;
}

/**
 * Content Slots
 */

.content-slot {
  @apply mt-gutter-4 scroll-mt-gutter-4;
}

.content-slot--splitted {
  @apply grid gap-gutter-2 px-gutter;

  @screen lg {
    @apply grid-cols-2 px-0;

    & .content-slot__content {
      @apply pr-gutter-2;
    }

    & .content-slot__splitted-image {
      @apply self-start sticky top-gutter;
    }
  }
}

.content-slot__title {
  @apply mb-[0.7em];

  @screen max-sm {
    @apply hyphens-auto;
  }
}

.content-slot__image {
  @apply mt-gutter-2 w-full;
}

.content-slot__definition-list {
  @apply mt-gutter-2;
}

.content-slot__first-text,
.content-slot__second-text {
  & ul {
    @apply !mb-[2em];

    & li {
      @apply mb-[1em];
    }
  }
}

.content-slot__second-text {
  @apply mt-gutter-2;
}

.content-slot__downloads {
  @apply mt-gutter-2;
}

.content-slot__expandable-text {
  @apply mt-gutter-2;
}

/**
 * Utils
 */

.downloads__link {
  @apply underline;

  a:hover > & {
    @apply no-underline;
  }
}

.downloads__detail {
  @apply inline-block text-xs lg:text-base no-underline ml-[0.5em] -translate-y-[0.2em] lg:-translate-y-[0.4em];
}

.definition-list__title {
  @apply h3 border-b themed-border pb-[0.4em] mb-gutter;
}

.definition-list__dl {
  @screen lg {
    @apply grid grid-cols-3 gap-x-gutter;

    grid-template-columns: 1fr 2fr;
  }
}

.definition-list__dt {
  @apply subline leading-tight mt-gutter-1.5;

  @screen lg {
    @apply mt-gutter pt-[0.15em];
  }

  @screen xl {
    @apply pt-[0.53em];
  }
}

.definition-list__dd {
  @apply pr-gutter-2;
}

.definition-list__dt,
.definition-list__dd {
  @screen lg {
    @apply mt-gutter-1/2;
  }
}
