.content-page {
  @apply pt-gutter-4 pb-gutter-2;

  margin-top: var(--h-logo);

  & .text-content {
    @apply text-2xl;
  }
}

.content-page__nav {
  @apply flex justify-center w-full mt-gutter-2 px-gutter;
  @apply bg-black text-white;
}

.content-page__nav-link {
  @apply block h5 py-gutter px-gutter-1/2 font-semibold align-text-v;

  &:hover {
    @apply text-pink;
  }
}

.content-page__slots {
  @apply my-gutter;
}

.content-page__column,
.content-page__column-left {
  @apply px-[--content-page-px-col];
}

.content-page__column-left {
  @apply pr-0;
}

/**
 * Content Slots
 */

.content-slot {
  @apply mt-gutter-4 scroll-mt-gutter-4;
}

.content-slot__title {
  @apply mb-[0.7em];
}

.content-slot__image {
  @apply mt-gutter-2 w-full;
}

.content-slot__definition-list {
  @apply mt-gutter-2;

  .content-slot__title + & {
    @apply mt-gutter;
  }
}

.content-slot__second-text {
  @apply mt-gutter-2;
}

.content-slot__downloads {
  @apply mt-gutter-2;
}

.content-slot__expandable-text {
  @apply mt-gutter-2;
}

/**
 * Utils
 */

.downloads__row {
  a {
    @apply !no-underline flex justify-start;
  }
}

.downloads__link {
  @apply underline;

  a:hover > & {
    @apply no-underline;
  }
}

.downloads__detail {
  @apply text-base no-underline ml-[1em] pt-[0.3em];
}

.definition-list__title {
  @apply h3 border-b border-black pb-[0.4em] mb-gutter;
}

.definition-list__dl {
  @apply grid grid-cols-3 gap-x-gutter;

  grid-template-columns: 1fr 2fr;
}

.definition-list__dt {
  @apply subline pt-[0.3em];
}

.definition-list__dd,
.definition-list__dt {
  @apply mt-gutter-1/2;
}
