.drawer__panel {
  @apply fixed top-0 right-0 z-40;

  width: calc(100vw - var(--gutter) * 2);

  @screen lg {
    @apply w-1/2;
  }
}

.drawer__content {
  @apply h-screen scrollable p-gutter;
}

.drawer__close {
  @apply fixed top-gutter right-gutter;

  width: var(--size-burger);
  height: var(--size-burger);
}

.drawer__bg {
  @apply fixed top-0 left-0 w-screen h-screen z-30;
  @apply bg-pink/75 cursor-pointer;
}
