.events-list {
  @apply relative;

  &:last-of-type {
    & .event:last-of-type {
      @apply pb-gutter-2;
    }
  }
}

.events-list__title {
  @apply sticky top-0 z-10;
  @apply px-gutter pt-[1em] pb-[0.75em];
  @apply subline;
  @apply bg-black text-white;

  background-color: #1dc8f4;
  color: #0b0212;

  background-color: #0b0212; /* rgba(255, 255, 255, 0.1); */
  color: white;
}
