.event-detail {
  @apply w-full h-full overflow-y-auto overscroll-contain;
  @apply p-gutter pb-0 bg-white outline outline-1 outline-black;
}

.event-detail__header {
  @apply pr-gutter-3;
}

.event-detail__date {
  @apply subline;

  span {
    @apply block md:inline-block;
  }
}

.event-detail__date-separator {
  @apply !hidden md:!inline-block md:mx-[0.5em];
}

.event-detail__title {
  @apply mt-gutter-3;
}

.event-detail__title-text {
  @apply mr-[0.3em];
}

.event-detail__special-state {
  @apply tag relative top-[-0.45em] sm:top-[-0.4em] lg:top-[-0.5em] xl:top-[-0.65em];

  @screen max-xl {
    @apply tag--sm;
  }
}

.event-detail__subtitle {
  @apply font-semibold mt-gutter-3/4;
}

.event-detail__desc {
  @apply mt-gutter-3/4;
}

.event-detail__infos {
  @apply mt-gutter space-y-gutter;

  @screen lg {
    @apply space-y-0;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(33.33%, 1fr));
  }
}

.event-detail__info {
  @apply pr-[1em];

  &:last-child {
    @apply pr-0;
  }
}

.event-detail__timetable-title {
  @apply subline inline-block w-[4em];
}

.event-detail__info-title {
  @apply mb-[0.25em] lg:mb-[0.5em];
}

.event-detail__tickets {
  @apply mt-gutter sticky top-0 z-20;
}

.event-detail__entries {
  @apply mt-gutter-2 space-y-gutter;
}

.event-detail__nav {
  @apply relative grid grid-cols-2 -mx-gutter mt-gutter-2;
  @apply bg-white border-t border-current;

  &::before {
    @apply absolute w-px h-full left-1/2 bg-current;

    content: '';
  }

  /* @screen max-xl { */
  @apply sticky bottom-0 z-20;
  /* } */
}

.event-detail__nav-button {
  @apply p-gutter flex flex-col justify-start items-center;

  @media (hover: hover) {
    @apply transition-colors duration-200 ease-out;

    &:hover {
      @apply bg-pink;
    }
  }
}

.event-detail__nav-button--prev {
  @apply col-start-1;

  & .event-detail__nav-icon {
    @apply scale-x-[-1];
  }
}

.event-detail__nav-button--next {
  @apply col-start-2;
}

.event-detail__nav-subline {
  @apply subline flex gap-[1em] items-center justify-center !text-xs align-text-v;

  @screen xl {
    @apply flex-col gap-[0.5em];
  }
}

.event-detail__nav-icon {
  @apply relative inline-block h-[0.9em] w-auto -top-[0.1em];
}

.event-detail__nav-title {
  @apply hidden;

  @screen xl {
    @apply block pt-[0.75em] h5 font-semibold;
  }
}
