@import './layers.css';
@import './accordion.css';
@import './bottom-nav.css';
@import './event.css';
@import './events-list.css';
@import './footer.css';
@import './header.css';
@import './icon.css';
@import './main-nav.css';
@import './main-nav-burger.css';
@import './support-us.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gutter: 2vw;

  @screen lg {
    --gutter: 5vw;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}
