@import './layers.css';

@import './accordion.css';
@import './bottom-nav.css';
@import './content-page.css';
@import './decorative-video.css';
@import './drawer.css';
@import './entry.css';
@import './event.css';
@import './event-detail.css';
@import './events-filters.css';
@import './events-list.css';
@import './expansable-text.css';
@import './footer.css';
@import './gallery.css';
@import './header.css';
@import './icon.css';
@import './impressions.css';
@import './main-nav.css';
@import './nav-burger.css';
@import './news-page.css';
@import './newsletter.css';
@import './page-header.css';
@import './partners.css';
@import './program-page.css';
@import './rainbow-background.css';
@import './save-the-date.css';
@import './special-announcement.css';
@import './support-us.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-s: 4.5vw;
  --gutter: 5vw;
  --h-logo: 17vw;
  --size-burger: calc(var(--h-logo) * 0.75);
  --height-topbar: calc((var(--size-burger) + var(--gutter)) * -1); /* overwritten from Header */
  --content-page-px-col: 20%;

  @screen sm {
    --font-s: 3vw;
    --gutter: 4vw;
    --h-logo: 12vw;
  }

  @screen md {
    --font-s: 2.5vw;
    --gutter: 4vw;
    --h-logo: 12vw;
  }

  @screen lg {
    --font-s: 2vw;
    --gutter: 3vw;
    --h-logo: 10vw;
  }

  @screen xl {
    --font-s: 1.5vw;
    --h-logo: 6vw;
  }

  @screen 2xl {
    --font-s: 1.05vw;
    --gutter: 2.5vw;
    --h-logo: 6vw;
  }
}

body {
  @apply text-black text-base leading-normal tracking-normal bg-pink;
}
