.impressions-page__impressions {
  @screen md {
    @apply grid grid-cols-2 gap-px;

    padding-bottom: var(--columns-vertical-shift);

    & > :nth-child(2n) {
      transform: translateY(var(--columns-vertical-shift));
    }
  }

  @screen 3xl {
    @apply grid-cols-3;

    & > :nth-child(2n) {
      transform: none;
    }

    & > :nth-child(3n + 2) {
      transform: translateY(var(--columns-vertical-shift));
    }
  }
}

.impression__link {
  @apply block h-full pb-gutter transition-[background-color] duration-200 ease-out-quad;

  @media (hover: hover) {
    &:hover {
      @apply bg-white;
    }
  }

  .impression:nth-last-child(2) & {
    @apply h-auto;
  }
}

.impression__image {
  @apply zoomed-image-on-hover;
}

.impression__infos {
  @apply p-gutter;
}

.impression__details {
  @apply subline;
}

.impression__title {
  @apply h5 mt-[0.2em] xl:h2 3xl:h3;
}
