@layer utilities {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-semibold;
  }

  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4,
  h5,
  .h5,
  h6,
  .h6 {
    @apply leading-title tracking-title uppercase;

    font-family: var(--font-title);
  }

  h1,
  .h1 {
    @apply text-4xl xl:text-6xl;
  }

  h2,
  .h2 {
    @apply text-3xl xl:text-5xl;
  }

  h3,
  .h3 {
    @apply text-2xl xl:text-4xl;
  }

  h4,
  .h4 {
    @apply text-xl xl:text-3xl;
  }

  h5,
  .h5 {
    @apply text-xl xl:text-2xl;
  }

  h6,
  .h6 {
    @apply text-xl xl:text-2xl;
  }

  .text-bigger {
    @apply text-base xl:text-2xl;
  }

  b,
  strong {
    @apply font-semibold;
  }

  i,
  em {
    @apply italic;
  }

  button {
    @apply tracking-normal;
  }

  .text-link {
    @apply transition-[opacity] duration-300 ease-out-quart;

    @media (hover: hover) {
      &:hover {
        @apply opacity-50;
      }
    }
  }

  .subline {
    @apply text-base font-semibold tracking-tag uppercase;

    font-family: var(--font-title);
  }

  .subline--lg {
    @apply h5;
  }

  .subline--above-title {
    @apply pb-[1em] xl:pb-[2em];
  }

  .tag {
    @apply inline-block px-[0.75em] pt-[0.5em] pb-[0.25em];
    @apply text-base font-semibold leading-none uppercase tracking-tag;
    @apply bg-white rounded-full border border-black;
    @apply transition-colors duration-200 ease-out;

    font-family: var(--font-title);

    .dark & {
      @apply bg-black text-white border-white;
    }
  }

  a.tag,
  button.tag,
  [type='submit'].tag {
    @media (hover: hover) {
      &:hover {
        @apply bg-black text-white;
      }
    }

    .dark & {
      @media (hover: hover) {
        &:hover {
          @apply bg-white text-black;
        }
      }
    }
  }

  .tag--inverted,
  .tag--active {
    @apply bg-black text-white;
  }

  .tag--active {
    @apply pointer-events-none;
  }

  a.tag--inverted,
  button.tag--inverted,
  [type='submit'].tag--inverted {
    @media (hover: hover) {
      &:hover {
        @apply bg-white text-black;
      }
    }
  }

  .tag--sm {
    @apply text-xs px-[0.4em] pt-[0.3em] pb-[0.05em];

    @screen lg {
      @apply px-[0.6em] pt-[0.4em] pb-[0.15em];
    }
  }

  .align-text-v {
    @apply translate-y-[0.1em];
  }

  .align-title-font-v {
    @apply translate-y-[0.025em];
  }

  .text-content {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply mb-[0.7em];
    }

    p {
      @apply mb-[1em];
    }

    ul {
      @apply mb-[1em];
    }

    li {
      @apply relative pl-[1.7em];

      &::before {
        content: '';

        @apply absolute left-0 top-[0.7em] w-[1em] h-px bg-current;
      }
    }

    a {
      @apply underline text-link;

      @media (hover: hover) {
        &:hover {
          @apply no-underline;
        }
      }
    }

    hr {
      @apply border-t border-current pb-gutter mt-gutter;
    }

    & > *:last-child {
      @apply mb-0;
    }
  }

  .layout-cols {
    @apply grid gap-px;

    padding-bottom: var(--columns-vertical-shift);
  }

  .layout-cols-2 {
    @apply grid-cols-2;

    & > :nth-child(2n) {
      transform: translateY(var(--columns-vertical-shift));
    }
  }

  .layout-cols-3 {
    @apply grid-cols-3;

    & > :nth-child(2n) {
      transform: none;
    }

    & > :nth-child(3n + 2) {
      transform: translateY(var(--columns-vertical-shift));
    }
  }

  .layout-cols-4 {
    @apply grid-cols-4;

    & > :nth-child(3n + 2) {
      transform: none;
    }

    & > :nth-child(4n + 2) {
      transform: translateY(var(--columns-vertical-shift));
    }

    & > :nth-child(4n + 4) {
      transform: translateY(calc(var(--columns-vertical-shift) * 0.5));
    }
  }

  .layout-cols-5 {
    @apply grid-cols-5;

    & > :nth-child(4n + 2),
    & > :nth-child(4n + 4) {
      transform: none;
    }

    & > :nth-child(5n + 2) {
      transform: translateY(var(--columns-vertical-shift));
    }

    & > :nth-child(5n + 4) {
      transform: translateY(calc(var(--columns-vertical-shift) * 0.5));
    }
  }

  .transform-3d {
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-translate-z: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-scale-z: 1;
    transform: translate3d(var(--tw-translate-x), var(--tw-translate-y), var(--tw-translate-z))
      rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
      scale3d(var(--tw-scale-x), var(--tw-scale-y), var(--tw-scale-z));
  }

  .dark {
    @apply bg-black text-pink;

    .text-link {
      @apply text-white;

      @media (hover: hover) {
        &:hover {
          @apply text-pink;
        }
      }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply text-white;
    }
  }

  .scrollable {
    @apply overflow-y-auto overscroll-contain;

    --sb-track-color: theme('colors.pinkScrollable');
    --sb-thumb-color: theme('colors.black');
    --sb-thumb-width: 1px;
    --sb-track-padding: 5px;
    --sb-size: calc(var(--sb-thumb-width) + 2 * var(--sb-track-padding));

    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);

    &::-webkit-scrollbar {
      width: var(--sb-size);
    }

    &::-webkit-scrollbar-track {
      background: var(--sb-track-color);
      padding: var(--sb-track-padding);
    }

    &::-webkit-scrollbar-thumb {
      background: var(--sb-thumb-color);
      box-shadow: inset 0 0 0 var(--sb-track-padding) var(--sb-track-color);
      margin: var(--sb-track-padding);
    }

    .dark & {
      --sb-track-color: theme('colors.black');
      --sb-thumb-color: theme('colors.pinkScrollable');
    }
  }
}

@layer components {
  .close-icon {
    @apply rotate-0;
    @apply transition-transform duration-200 ease-in-out;

    &:before,
    &:after {
      @apply absolute top-1/2 left-0 w-full h-px bg-current;

      content: '';
    }

    &:after {
      @apply rotate-90;
    }

    .is-opened & {
      @apply rotate-[135deg];
    }
  }

  .close-button {
    @apply flex items-center justify-center;
    @apply text-current outline outline-1 -outline-offset-1 outline-current rounded-full;
    @apply transition-transform duration-300 ease-out-quart;
    @media (hover: hover) {
      &:hover {
        @apply rotate-90;
      }
    }
  }

  .close-button__text {
    @apply hidden;
  }

  .close-button__icon {
    @apply w-1/2 h-1/2;
  }

  .loaded-image {
    @apply bg-lightGrey;

    & img {
      @apply w-full h-auto opacity-0;

      transition-property: opacity;
      transition-duration: 400ms;
      transition-timing-function: ease-out;
    }
  }

  .loaded-image--loaded {
    & img {
      @apply opacity-100;
    }
  }

  .zoomed-image-on-hover {
    @apply overflow-hidden;

    & .loaded-image img {
      @apply transform-3d;

      transition-property: opacity, transform;
      transition-duration: 400ms, 300ms;
      transition-timing-function: ease-out, theme('transitionTimingFunction.out-quad');
    }

    a:hover & {
      & .loaded-image img {
        --scale: 1.08;

        --tw-scale-x: var(--scale);
        --tw-scale-y: var(--scale);
      }
    }
  }

  [type='submit'] {
    @apply tag tag--inverted cursor-pointer;
  }
}
