@layer components {
  .close-icon {
    @apply rotate-45 scale-0;
    @apply transition-transform duration-200 ease-in-out;

    &:before,
    &:after {
      @apply absolute top-1/2 left-0 w-full h-px bg-current;

      content: '';
    }

    &:after {
      @apply rotate-90;
    }

    .is-opened & {
      @apply scale-100;
    }
  }

  .close-button {
    @apply flex items-center justify-center;
    @apply text-black border border-black box-border rounded-full;
  }

  .close-button__text {
    @apply hidden;
  }

  .close-button__icon {
    @apply w-1/2 h-1/2;
  }

  .loaded-image {
    @apply opacity-0 transition-opacity duration-1000 ease-out;
  }

  .loaded-image--loaded {
    @apply opacity-100;
  }
}

@layer utilities {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  .col-padded {
    @apply px-gutter;
  }

  .col-marged {
    @apply mx-gutter;
  }

  .col-outer {
    @apply -mx-gutter;
  }

  .col-outer-padded {
    @apply -mx-gutter px-gutter;
  }

  .col-program-px {
    @apply px-8;
  }

  .col-program-py {
    @apply py-6;
  }

  .tag {
    @apply inline-block px-[0.75em] bg-white rounded-full border border-black;
    @apply transition-colors duration-300 ease-out;
  }

  .tag--inverted {
    @apply bg-black text-white;
  }

  .burger-positioned {
    @apply fixed right-gutter mt-gutter;

    width: var(--size-burger);
    height: var(--size-burger);

    top: var(--posy-burger);
  }

  .transform-3d {
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-translate-z: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-scale-z: 1;
    transform: translate3d(var(--tw-translate-x), var(--tw-translate-y), var(--tw-translate-z))
      rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
      scale3d(var(--tw-scale-x), var(--tw-scale-y), var(--tw-scale-z));
  }
}
