@layer utilities {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-semibold;
  }

  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4,
  h5,
  .h5,
  h6,
  .h6 {
    @apply leading-title tracking-title uppercase;
  }

  h1,
  .h1 {
    @apply text-6xl;
  }

  h2,
  .h2 {
    @apply text-5xl;
  }

  h3,
  .h3 {
    @apply text-4xl;
  }

  h4,
  .h4 {
    @apply text-3xl;
  }

  h5,
  .h5 {
    @apply text-2xl;
  }

  h6,
  .h6 {
    @apply text-2xl;
  }

  a {
    @apply transition-all duration-200 ease-out-quart;
  }

  b,
  strong {
    @apply font-semibold;
  }

  i,
  em {
    @apply italic;
  }

  button {
    @apply tracking-normal;
  }

  .text-link {
    @apply transition-opacity duration-300 ease-out-quart;

    @media (hover: hover) {
      &:hover {
        @apply opacity-50;
      }
    }
  }

  .subline {
    @apply text-base font-semibold tracking-tag uppercase;
  }

  .tag {
    @apply inline-block px-[0.75em] pt-[0.5em] pb-[0.25em];
    @apply text-base font-semibold leading-none uppercase tracking-tag;
    @apply bg-white rounded-full border border-black;
    @apply transition-colors duration-300 ease-out;

    .dark & {
      @apply bg-black text-white border-white;
    }
  }

  a.tag,
  button.tag,
  [type='submit'].tag {
    @media (hover: hover) {
      &:hover {
        @apply bg-black text-white;
      }
    }

    .dark & {
      @media (hover: hover) {
        &:hover {
          @apply bg-white text-black;
        }
      }
    }
  }

  .tag--inverted {
    @apply bg-black text-white;
  }

  a.tag--inverted,
  button.tag--inverted,
  [type='submit'].tag--inverted {
    @media (hover: hover) {
      &:hover {
        @apply bg-white text-black;
      }
    }
  }

  .tag--sm {
    @apply text-xs px-[0.6em] pt-[0.40em] pb-[0.15em];
  }

  .text-link {
    @media (hover: hover) {
      &:hover {
        @apply opacity-50;
      }
    }
  }

  .text-content {
    p {
      @apply mb-[1em];
    }

    ul {
      @apply mb-[1em];
    }

    li {
      @apply relative pl-[1.7em];

      &::before {
        content: '';

        @apply absolute left-0 top-[0.7em] w-[1em] h-px bg-current;
      }
    }

    a {
      @apply underline;
      @media (hover: hover) {
        &:hover {
          @apply no-underline;
        }
      }

      .dark & {
        @apply text-white;
        @media (hover: hover) {
          &:hover {
            @apply text-pink;
          }
        }
      }
    }

    hr {
      @apply border-t border-current;
    }

    & > *:last-child {
      @apply mb-0;
    }
  }

  .burger-positioned {
    @apply fixed right-gutter mt-gutter;

    top: var(--posy-burger);
  }

  .transform-3d {
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-translate-z: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-scale-z: 1;
    transform: translate3d(var(--tw-translate-x), var(--tw-translate-y), var(--tw-translate-z))
      rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
      scale3d(var(--tw-scale-x), var(--tw-scale-y), var(--tw-scale-z));
  }

  .dark {
    @apply bg-black text-pink;

    a {
      @media (hover: hover) {
        &:hover {
          @apply text-white;
        }
      }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply text-white;
    }
  }
}

@layer components {
  .close-icon {
    @apply rotate-45 scale-0;
    @apply transition-transform duration-200 ease-in-out;

    &:before,
    &:after {
      @apply absolute top-1/2 left-0 w-full h-px bg-current;

      content: '';
    }

    &:after {
      @apply rotate-90;
    }

    .is-opened & {
      @apply scale-100;
    }
  }

  .close-button {
    @apply flex items-center justify-center;
    @apply text-current outline outline-1 -outline-offset-1 outline-current rounded-full;
    @apply transition-transform duration-300 ease-out-quart;
    @media (hover: hover) {
      &:hover {
        @apply rotate-90;
      }
    }
  }

  .close-button__text {
    @apply hidden;
  }

  .close-button__icon {
    @apply w-1/2 h-1/2;
  }

  .loaded-image {
    @apply opacity-0 transition-opacity duration-1000 ease-out;
  }

  .loaded-image--loaded {
    @apply opacity-100;
  }

  [type='submit'] {
    @apply tag tag--inverted cursor-pointer;
  }
}
