.nav-burger {
  @apply fixed z-20 right-gutter top-gutter;
  @apply block bg-black border border-pink rounded-full;
  @apply transition-transform duration-500 ease-out-back;

  width: var(--size-burger);
  height: var(--size-burger);

  transform: translate3d(0, var(--height-topbar), 0);
  will-change: transform;
}

.nav-burger--hidden {
  @apply duration-300 ease-in-quart;

  transform: translate3d(0, calc((var(--size-burger) + var(--gutter)) * -1), 0);
}

.nav-burger__text {
  @apply absolute left-0 top-1/2 -translate-y-1/2 -translate-x-full -ml-4;
  @apply subline pt-[0.2em];
  @apply transition-opacity duration-300 ease-out;

  .nav-burger--no-text & {
    @apply opacity-0;
  }

  .nav-burger--dark & {
    @apply text-pink;
  }
}

.nav-burger__icon {
  @apply absolute top-1/2 left-1/2;
  @apply -translate-x-1/2 -translate-y-1/2;
  @apply bg-pink rounded-full;

  --size-icon: calc(var(--size-burger) * 0.15);
  width: var(--size-icon);
  height: var(--size-icon);
}

.nav-burger__hand {
  @apply absolute -inset-px rounded-full overflow-hidden;
  transform: translateZ(0);

  svg {
    @apply w-full h-full fill-pink;
    @apply transition-transform ease-in-quart;

    will-change: transform;

    @media (hover: hover) {
      .nav-burger:hover & {
        @apply ease-out-quart;
      }
    }
  }

  span {
    @apply block;
  }
}

@keyframes handleft {
  0% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(-0.2em, 0.2em, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes handright {
  0% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(0.25em, 0.25em, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

.nav-burger__hand--left {
  svg {
    @apply -translate-x-1/2 translate-y-1/2  duration-300;

    @media (hover: hover) {
      .nav-burger:hover & {
        @apply -translate-x-px -translate-y-px duration-700;
      }
    }
  }
  span {
    animation: handleft 3s infinite;
  }
}

.nav-burger__hand--right {
  svg {
    @apply translate-x-1/2 translate-y-1/2 duration-500;

    @media (hover: hover) {
      .nav-burger:hover & {
        @apply -translate-x-px -translate-y-px duration-1000;
      }
    }
  }
  span {
    animation: handright 3s 1s infinite;
  }
}
