.nav-burger {
  @apply fixed z-10 right-gutter-1/2 mt-gutter-1/2;
  @apply block rounded-full;
  @apply bg-black text-white;
  @apply transition-transform duration-500 ease-out-back;

  --size-burger: calc(var(--h-logo) * 0.75);
  --h-topbar: 0;

  width: var(--size-burger);
  height: var(--size-burger);

  top: var(--h-topbar);
}

.nav-burger--hidden {
  @apply transform-3d duration-300 ease-in-quint;

  --tw-translate-y: calc(var(--gutter) * -3);
}

.nav-burger__text {
  @apply hidden;
}

/* .nav-burger__icon {
  @apply fill-current;
} */

.nav-burger__icon {
  @apply absolute top-1/2 left-1/2;
  @apply -translate-x-1/2 -translate-y-1/2;
  @apply bg-current rounded-full;

  --size-icon: calc(var(--size-burger) * 0.15);
  width: var(--size-icon);
  height: var(--size-icon);
}
