.news-page__news {
  --columns-vertical-shift: var(--gutter);
  --gap-y: calc(var(--columns-vertical-shift) * 1.5);

  @apply layout-cols;

  @screen md {
    --columns-vertical-shift: 5vh;

    @apply layout-cols-2;
  }

  @screen xl {
    @apply layout-cols-3;

    & > :nth-child(3n + 3) {
      transform: translateY(calc(var(--columns-vertical-shift) * 2));
    }
  }

  @screen 3xl {
    @apply layout-cols-4;

    & > :nth-child(4n + 3) {
      transform: translateY(calc(var(--columns-vertical-shift) * 2));
    }

    & > :nth-child(4n + 4) {
      transform: translateY(calc(var(--columns-vertical-shift) * 3));
    }
  }

  grid-row-gap: var(--gap-y);
  margin-bottom: var(--gap-y);
}

.news-item {
  @apply flex flex-col h-full bg-white;
}

.news-item__image-container {
  @apply zoomed-image-on-hover aspect-w-1 aspect-h-1;

  & img {
    @apply !h-full object-cover;
  }
}

.news-item__content {
  @apply p-gutter pb-gutter-2;
}

.news-item__date {
  @apply subline;
}

.news-item__title {
  @apply h5 mt-[0.2em];
}

.news-item__desc {
  @apply mt-[1em] text-content !text-base;
}

.news-item__links {
  @apply flex flex-wrap gap-4 mt-[1.5em];
}

.news-item__link,
.news-page__link {
  @apply tag;
}

.news-page {
  @apply pb-0;
}

.news-page__content {
  @apply grid gap-gutter-2 px-gutter;
}

.news-page__content--splitted {
  @screen lg {
    @apply grid-cols-2 px-0;

    & .news-page__desc {
      @apply pr-gutter-2;
    }

    & .news-page__image {
      @apply self-start sticky top-gutter;
    }
  }
}

.news-page__link {
  @apply text-bigger !no-underline mt-gutter;
}

.news-page__nav {
  @apply mt-gutter-2;

  & .event-detail-nav__button {
    @apply pt-gutter-2 pb-gutter-4;
  }

  & .event-detail-nav__title {
    @screen xl {
      @apply h3;
    }
  }
}
