.program-page {
  @apply mt-[50vh];

  @screen xl {
    @apply grid grid-cols-2 mt-0;
  }
}

.program-page__list {
  @screen xl {
    @apply border-r border-black;

    padding-top: calc(var(--gutter) + var(--h-logo));
  }
}

.program-page__header {
  @apply p-gutter pt-gutter-2 mb-gutter-1/2 text-center;
}

.program-page__subtitle {
  @apply block subline subline--above-title;
}

.program-page__filters {
  @apply scroll-mt-gutter;
}

.program-page__detail {
  @apply fixed z-10 top-0 left-0 w-0 h-screen pointer-events-none;

  @screen xl {
    @apply sticky left-auto w-auto overflow-hidden;
    /* will-change: transform; */
    transform: translateZ(0);
  }
}

.program-page__detail--opened {
  @apply w-full pointer-events-auto;

  @screen xl {
    @apply w-auto;
  }
}

.program-page__close {
  @apply fixed z-20 right-gutter top-gutter;
  @apply bg-white;
  @apply transform-3d transition-transform duration-500 ease-out-back;

  --tw-translate-y: var(--height-topbar);
  --tw-translate-z: 0;
  will-change: transform;
}

.program-page__close--nav-opened {
  --tw-translate-y: calc(var(--height-topbar) + var(--size-burger) + var(--gutter) * 0.5);
}

.program-page__close--disabled {
  @apply scale-0 rotate-90 pointer-events-none;
}

.program-page__mobile-detail-nav {
  @apply fixed bottom-0 w-full;
  @apply xl:hidden;
}
