.special-announcement {
  @screen lg {
    @apply text-right;
  }

  @screen xl {
    @apply text-left;
  }
}

.special-announcement__title {
  @apply hidden;

  @screen 2xl {
    @apply inline-block mr-4;
  }
}

@keyframes btnAnimation {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(1.5em);
  }
  100% {
    transform: translateX(0);
  }
}

.special-announcement__btn {
  @apply tag;

  @screen max-lg {
    @apply mt-[0.5em] !text-xs;
  }

  @screen xl {
    animation: btnAnimation 2s infinite;
  }
}

.special-announcement__btn-text {
  @apply pr-[0.25em];
}

.special-announcement__btn-icon {
  @apply relative inline-block h-[0.9em] w-auto -top-[0.07em];
}

/* DRAWER'S PANEL */

.special-announcement-panel__subline {
  padding-right: calc(var(--size-burger) + var(--gutter));
}

.special-announcement-panel__subline {
  @apply subline leading-tight block;
}

.special-announcement-panel__title {
  @apply mt-gutter-3 max-lg:h3 hyphens-auto;
}

.special-announcement-panel__desc {
  @apply mt-gutter text-bigger;
}
