.support-us {
  .accordion__button {
    @apply text-left;
  }

  .dark & {
    @apply border-y border-current;
  }
}

.support-us__title {
  @apply relative p-gutter pr-gutter-3;
  @apply h3 text-white bg-black;

  @screen lg {
    @apply px-gutter text-center;
  }
}

@keyframes heartAnimation {
  0% {
    transform: rotate(25deg);
  }

  100% {
    transform: rotate(-25deg);
  }
}

.support-us__headline {
  @apply mr-[0.5em];
}

.support-us__heart {
  @apply inline-block w-[1em] h-auto;
  @apply -mt-[0.2em];

  @screen lg {
    @apply w-[1.2em];
  }

  animation: heartAnimation infinite ease-in-out 1s;
  animation-direction: alternate-reverse;
}

.support-us__close {
  @apply absolute top-gutter right-gutter  w-[1em] h-[1em];

  @screen lg {
    @apply top-1/2 -translate-y-1/2 mt-0;
  }
}

.support-us__content-container {
  @apply border-t border-current !pt-gutter-2;
}
