.video-overlay {
  @apply text-pink;
}

.video-overlay__video {
  @apply fixed top-gutter left-gutter z-40;

  width: 80vw;
}

.video-overlay__close {
  @apply fixed top-gutter right-gutter z-40;
}

.video-overlay__close-button {
  width: calc(var(--size-burger) - 2px);
  height: calc(var(--size-burger) - 2px);
}
